

.slider-item {
  margin: auto;
  position: relative;
  //max-height: 565px;

  &__pic {
    background: rgba(0, 0, 0, 0.7);
    height: 460px;
    width: 100%;

    &_over {
      background: url(../i/mainback.png);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &_im1 {
      background: url(../i/sport1.jpg) no-repeat;
      background-size: cover;
    }
    &_im2 {
      background: url(../i/sport7.jpg) no-repeat center;
      background-size: cover;
    }
    &_im3 {
      background: url(../i/slide1.jpg) no-repeat;
      background-size: cover;
    }
  }
}
// CONTENT
.logo{
  display: none;
}
.disc-text{
  position: absolute;
  width: 100%;
  padding: 0;
  top: 190px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title1{
    font: 22px/30px Oswald;
    display: block;
    letter-spacing: 1px;
    opacity: 0.8;
   
  }
  &__title2{
    margin: 10px 0 0;
    font: 45px/58px Oswald;
  }
  &__text{
    display: block;
    width: 400px;
    font: 300 14px/24px Oswald;
  }
}
.train-but{
  display: none;

}
.button-block{
  .social-but{
  display: none;
  }
}